<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-400 p-4 pl-6">
       <a class="text-blue-800" href="/"> <i class="ri-arrow-left-line"></i> Go back to Home</a>
       <h1 class="text-3xl font-extrabold mb-1 mt-3"><%=name%></h1>
       <p class="text-xl text-slate-200"><%= filedata%></p>
    </div>
</body>
</html>